<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>#</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .camp-img {
            width: 50px;
            height: 70px;
        }
        
        tr {
            border-bottom: 1px solid gray;
        }

        tr:last-child {
            border: none;
        }
      
    </style>
</head>
<body>
    <div class="container">
        <div class="basket">
            <h3>장바구니</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">캠핑장명</th>
                        <th class="text-center">위치</th>
                        <th class="text-center">편의시설</th>
                        <th class="text-center">액티비티</th>
                        <th class="text-center">삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>    
                            <a href="#">
                                <img class="camp-img" src="#" alt="캠핑장1">                            
                            </a>
                            대구 불꽃 캠핑장                                                        
                        </td>
                        <td>대구광역시</td>
                        <td>매점, 샤워실</td>
                        <td>계곡, 낚시</td>
                        <td><button class="btn btn-default">삭제</button></td>
                    </tr>
                    <tr>
                        <td>    
                            <a href="#">
                                <img class="camp-img" src="#" alt="캠핑장1">                            
                            </a>
                            대구 불꽃 캠핑장                                                        
                        </td>
                        <td>대구광역시</td>
                        <td>매점, 샤워실</td>
                        <td>계곡, 낚시</td>
                        <td><button class="btn btn-default">삭제</button></td>
                    </tr>                      
                </tbody>
            </table>            
        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>